* {
    box-sizing: border-box;
}



body {
    margin: 0;
    align-content: center;
}

  /* Style the header */
header {
    background-color: #6a6b8b;
    padding: 0;
    text-align: center;
    font-size: 35px;
}

/* .header alert {
    background-color: #c22626;
    padding: 30px;
    text-align: center;
    font-size: 35px;
} */

  /* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

  /* Create three equal columns that sits next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}





nav.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav.topnav li {
    float:left;
    list-style-type: none;
    }

nav.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.topnav li a:hover:not(.active) {background-color: #111;}

nav.topnav li a.active {background-color: #04AA6D;}

  /* nav.topnav li.right {float: right;} */

@media screen and (max-width: 600px) {
    /* nav.topnav li.right,  */
    nav.topnav li {float: none;}
    footer.panel {float:none;}
    
}

  /* Style the footer */
footer.panel {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer.panel li {
    float:left;
    list-style-type: none;
    padding: 20px;
    }

#headerimg {
    background-position: center;
    background-size: cover;
    background-image: url("./images/doctors-surgery.jpg");
    min-height: 400px;
}